version: "3.8"

services:
  #             _   _                         _           _
  #  _ __   ___| |_| |__   ___ _ __ _ __ ___ (_)_ __   __| |
  # | '_ \ / _ \ __| '_ \ / _ \ '__| '_ ` _ \| | '_ \ / _` |
  # | | | |  __/ |_| | | |  __/ |  | | | | | | | | | | (_| |
  # |_| |_|\___|\__|_| |_|\___|_|  |_| |_| |_|_|_| |_|\__,_|
  execution-client:
    image: nethermind/nethermind:${NETHERMIND_VERSION}
    container_name: execution-client-${NETWORK}
    ports:
      - "${EC_PORT_P2P}:30303/tcp"
      - "${EC_PORT_P2P}:30303/udp"
      - "${EC_PORT_HTTP}:8545"
      - "${EC_PORT_WS}:8546"
      - "${EC_PORT_ENGINE}:8551"
      - "${EC_PORT_METRIC}:6060"
    command: |
      --config=${NETWORK}
      --datadir=data
      --HealthChecks.Enabled=true
      --HealthChecks.UIEnabled=false
      --HealthChecks.PollingInterval=5000
      --Metrics.Enabled=true
      --Metrics.ExposePort=6060
      --Metrics.IntervalSeconds=5
      --JsonRpc.Enabled=true
      --JsonRpc.JwtSecretFile="/jwt/jwt.hex"
      --JsonRpc.EngineHost=0.0.0.0
      --JsonRpc.EnginePort=8551
      --JsonRpc.Host=0.0.0.0
      --JsonRpc.Port=8545
      --JsonRpc.WebSocketsPort=8546
      --Sync.SnapSync=true
      --Init.MemoryHint=${NETHERMIND_MEMORY_HINT:-16384000000}
      --Init.StoreReceipts=true
      --Blocks.TargetBlockGasLimit=${EC_GAS_LIMIT:-60000000}
      --Blocks.GenesisTimeoutMs=${NETHERMIND_GENESIS_TIMEOUT_MS:-300000}
      --Network.MaxActivePeers=${NETHERMIND_MAX_PEERS:-100}
      --Network.P2PPort=30303
      --TxPool.Size=${NETHERMIND_TXPOOL_SIZE:-2048}
      --TxPool.PeerNotificationThreshold=${NETHERMIND_TXPOOL_PEER_NOTIFICATION:-5}
      --Pruning.CacheMb=${NETHERMIND_CACHE_MB:-8192}
      --Pruning.FullPruningCompletionBehavior=AlwaysShutdown
      --Pruning.FullPruningTrigger=Manual
      --Pruning.FullPruningMemoryBudgetMb=0
      --Bloom.Index=false
      --Bloom.Migration=false
    networks:
      - ethnode
    volumes:
      - ${PROJECT_ROOT}/data/nethermind/${NETWORK}:/nethermind/data
      - ${PROJECT_ROOT}/security/jwt/${ENV}/jwt.hex:/jwt/jwt.hex:ro
      - ${PROJECT_ROOT}/data/logs:/nethermind/logs
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
        compress: "true"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:6060/health"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 300s
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    labels:
      - "com.ethereum.client=nethermind"
      - "com.ethereum.network=${NETWORK}"
      - "com.ethereum.role=execution"

