version: "3.8"

services:
  #  _ _       _     _   _
  # | (_) __ _| |__ | |_| |__   ___  _   _ ___  ___
  # | | |/ _` | '_ \| __| '_ \ / _ \| | | / __|/ _ \
  # | | | (_| | | | | |_| | | | (_) | |_| \__ \  __/
  # |_|_|\__, |_| |_|\__|_| |_|\___/ \__,_|___/\___|
  #      |___/
  lighthouse-vc:
    image: sigp/lighthouse:${LIGHTHOUSE_VERSION}
    container_name: lighthouse-vc-${NETWORK}
    ports:
      - "${VC_PORT_HTTP}:5062"
      - "${VC_PORT_METRICS}:5064"
    command: |
      lighthouse vc
      --network=${NETWORK}
      --beacon-nodes=${VC_BEACON_NODE_ADDRESS}
      --suggested-fee-recipient=${VC_SUGGESTED_FEE_RECIPIENT}
      --graffiti=${VC_DEFAULT_GRAFFITI}
      --http
      --http-address=0.0.0.0
      --http-port=5062
      --metrics
      --metrics-address=0.0.0.0
      --metrics-port=5064
      --init-slashing-protection
      --enable-doppelganger-protection
    environment:
      VC_BEACON_NODE_ADDRESS: ${VC_BEACON_NODE_ADDRESS}
      NETWORK: ${NETWORK}
      VC_SUGGESTED_FEE_RECIPIENT: ${VC_SUGGESTED_FEE_RECIPIENT}
      VC_DEFAULT_GRAFFITI: ${VC_DEFAULT_GRAFFITI}
    networks:
      - ethnode
    volumes:
      - keys:/opt/lighthouse/keys:ro
      - chain-data:/root/.lighthouse
      - logs:/data/logs
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
        compress: "true"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5064/metrics"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 60s
    labels:
      - "com.ethereum.client=lighthouse"
      - "com.ethereum.network=${NETWORK}"
      - "com.ethereum.role=validator"

