version: "3.8"

services:
  #  _                    _        _             
  # | |    ___   ___ __ _| |_ ___ | |_ ___  _ __ 
  # | |   / _ \ / __/ _` | __/ _ \| __/ _ \| '__|
  # | |__| (_) | (_| (_| | ||  __/| || (_) | |   
  # |_____\___/ \___\__,_|\__\___| \__\___/|_|   
  lodestar-vc:
    image: chainsafe/lodestar:${LODESTAR_VERSION}
    container_name: lodestar-vc-${NETWORK}
    ports:
      - "${VC_PORT_HTTP}:5062"
      - "${VC_PORT_METRICS}:5064"
    command: |
      lodestar validator
      --network=${NETWORK}
      --beacon-nodes=${VC_BEACON_NODE_ADDRESS}
      --suggested-fee-recipient=${VC_SUGGESTED_FEE_RECIPIENT}
      --graffiti=${VC_DEFAULT_GRAFFITI}
      --rest
      --rest.address=0.0.0.0
      --rest.port=5062
      --metrics
      --metrics.address=0.0.0.0
      --metrics.port=5064
      --initSlashingProtection
      --enableDoppelgangerProtection
    environment:
      VC_BEACON_NODE_ADDRESS: ${VC_BEACON_NODE_ADDRESS}
      NETWORK: ${NETWORK}
      VC_SUGGESTED_FEE_RECIPIENT: ${VC_SUGGESTED_FEE_RECIPIENT}
      VC_DEFAULT_GRAFFITI: ${VC_DEFAULT_GRAFFITI}
    networks:
      - ethnode
    volumes:
      - keys:/keys:ro
      - chain-data:/data/lodestar-vc
      - logs:/data/logs
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
        compress: "true"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5064/metrics"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 60s
    labels:
      - "com.ethereum.client=lodestar"
      - "com.ethereum.network=${NETWORK}"
      - "com.ethereum.role=validator"

