version: "3.8"

services:
  # Network definition
networks:
  ethnode:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

volumes:
  # Note: chain-data, keys, logs volumes are now replaced with bind mounts
  # Data is stored in ${PROJECT_ROOT}/data/{client}/{network}/

