version: "1.0"

services:
  #                                 _ _        _                     _   
  #    ___ ___  _ __ ___  _ __ ___ (_) |_     | |__   ___   ___  ___| |_ 
  #   / __/ _ \| '_ ` _ \| '_ ` _ \| | __|____| '_ \ / _ \ / _ \/ __| __|
  #  | (_| (_) | | | | | | | | | | | | ||_____| |_) | (_) | (_) \__ \ |_ 
  #   \___\___/|_| |_| |_|_| |_| |_|_|\__|    |_.__/ \___/ \___/|___/\__|
  commit-boost-config:
    image: hairyhenderson/gomplate:latest
    environment:
      - NETWORK=${NETWORK}
      - RELAYS=${MEVBOOST_RELAYS}
      - MIN_BID_ETH=${COMMITBOOST_MIN_BID_ETH}
    volumes:
      - ${PROJECT_ROOT}/config/clients/commit-boost/cb-config.toml.tmpl:/templates/cb-config.toml.tmpl:ro
      - ${PROJECT_ROOT}/config/clients/commit-boost:/output
    command: -f /templates/cb-config.toml.tmpl -o /output/cb-config.toml
    restart: "no"

  commit-boost:
    image: ghcr.io/commit-boost/pbs:${COMMITBOOST_VERSION}
    ports:
      - "18550:18550"
    volumes:
      - ${PROJECT_ROOT}/config/clients/commit-boost/cb-config.toml:/config/cb-config.toml:ro
    command: ""
    environment:
      CB_CONFIG: /config/cb-config.toml
      CB_METRICS_PORT: ${COMMITBOOST_METRICS_PORT}
    depends_on:
      - commit-boost-config
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"
        compress: "true"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:${COMMITBOOST_METRICS_PORT}/healthz"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 30s

networks:
  ethnode: