version: "3.8"

services:
  #  ______    ___  __  _  __ __ 
  # |      |  /  _]|  |/ ]|  |  |
  # |      | /  [_ |  ' / |  |  |
  # |_|  |_||    _]|    \ |  |  |
  #   |  |  |   [_ |     \|  :  |
  #   |  |  |     ||  .  ||     |
  #   |__|  |_____||__|\_| \__,_|
  consensus-client:
    image: consensys/teku:${TEKU_VERSION}
    container_name: consensus-client-${NETWORK}
    user: root
    ports:
      - "${CC_PORT_P2P}:9000/tcp"
      - "${CC_PORT_P2P}:9000/udp"
      - "${CC_PORT_QUIC}:9001/udp"
      - "${CC_PORT_HTTP}:5052"
      - "${CC_PORT_METRICS}:5054"
    command: |
      --network=${NETWORK}
      --initial-state=${CC_CHECKPOINT_SYNC_URL}/eth/v2/debug/beacon/states/finalized
      --ee-endpoint=${CC_EXECUTION_ENDPOINT}
      --ee-jwt-secret-file=/jwt/jwt.hex
      --data-path=/data/teku
      --rest-api-interface=0.0.0.0
      --rest-api-host-allowlist=*
      --rest-api-enabled=true
      --rest-api-port=5052
      --rest-api-cors-origins=*
      --metrics-enabled=true
      --metrics-port=5054
      --metrics-host-allowlist=*
      --log-destination=CONSOLE
      --log-include-validator-duties-enabled=true
      --validators-builder-registration-default-enabled=true
      --validators-proposer-default-fee-recipient=${CC_SUGGESTED_FEE_RECIPIENT}
      --builder-endpoint=${CC_MEV_BOOST_ADDRESS}
      --beacon-liveness-tracking-enabled=true
      --p2p-peer-lower-bound=${TEKU_P2P_PEER_LOWER_BOUND:-120}
      --p2p-peer-upper-bound=${TEKU_P2P_PEER_UPPER_BOUND:-150}
      --p2p-discovery-enabled=true
      --p2p-advertised-port=${CC_PORT_P2P}
      --p2p-port=${CC_PORT_P2P}
      --p2p-private-key-file=/data/teku/p2p-private-key
      --p2p-subscribe-all-subnets-enabled=true
    networks:
      - ethnode
    volumes:
      - ${PROJECT_ROOT}/data/teku/${NETWORK}:/data/teku
      - ${PROJECT_ROOT}/security/jwt/${ENV}/jwt.hex:/jwt/jwt.hex:ro
      - ${PROJECT_ROOT}/data/logs:/data/logs
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
        compress: "true"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5052/eth/v1/node/health"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 300s
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    labels:
      - "com.ethereum.client=teku"
      - "com.ethereum.network=${NETWORK}"
      - "com.ethereum.role=consensus"

